#ifndef @ARRAYVEC_H
#define @ARRAYVEC_H

#include <stdio.h>
#include <stdlib.h>
typedef $ @;
struct __@AV {
	@ *data;
	int len;
	int datalen;
	void (*append) (struct __@AV* self, @ dat);
	@ (*pop) (struct __@AV* self);
	void (*replace) (struct __@AV* self, size_t i, @ dat);
	void (*replace_many) (struct __@AV* self, size_t i, @ *dats, size_t datlen);
};

typedef struct __@AV* @arrayvec;

#endif